@font-face {
  font-family: 'MacPawFixelDisplay';
  src: url('../fonts/MacPawFixelDisplay-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/MacPawFixelDisplay-Regular.otf') format('opentype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
